@import './fonts';
@import './colors';
@import './mixins';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
	padding: 0.2em 0.5em;
	background-color: $mainBG1;

	&__heading {
		color: $fontColor;
		font-size: 3.5rem;
	}
}
