@import './fonts';
@import './colors';
@import './mixins';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $MainFont;
}

.wrapper {
	display: flex;
}

// ------------------------ HEADER ------------------------

.header {
	padding: 1em 0.5em;
	background-color: $mainBG1;
	display: flex;
	align-items: center;

	@include mobile-allSize {
		justify-content: center;
	}

	& > * {
		color: $fontColor;
		font-size: 3.5rem;

		@include mobile-small {
			font-size: 3.45rem;
		}
	}

	&__heading {
		margin-right: 0.2em;
	}
}

// ------------------------ SIDEBAR ------------------------

.sideBarContainer {
	height: 100vh;
	width: 20%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $mainBG2;

	@include media(mobile, smallTablet, largeTablet) {
		display: none;
	}

	@include tablet {
		padding: 0.5em;
		width: 30%;
	}

	&__list {
		list-style: none;

		&--item {
			margin: 0.5em;
			font-size: 1.25rem;

			// @include tablet {
			// 	margin: 0.5em 0;
			// }

			@include media(tablet, desktop) {
				margin: 0;
				font-size: 1rem;
			}

			button {
				margin-left: 0.5em;
				background-color: transparent;
				color: black;
				border: none;
				font-size: 1.25rem;
				text-decoration: none;
				transition: all 0.25s ease;
				cursor: pointer;

				@include media(smallTablet, desktop) {
					margin-left: 0.2rem;
				}

				&:hover {
					color: $highLight1;
				}
			}
		}
	}

	&__Wrapper {
		&--icon {
			cursor: pointer;
		}

		&--btn {
			border: none;
			background: none;
			font-size: 1.1rem;
			font-weight: 600;
			cursor: pointer;
		}
	}
}

// ------------------------ CONTENT ------------------------

.contentContainer {
	height: 100vh;
	width: 100%;
	padding: 3em 6em;

	@include mobile-allSize {
		padding: 1.5em 2em;
	}

	@include media(smallTablet, desktop) {
		padding: 1em;
	}

	&__header {
		font-family: $MainFont;
	}

	&__input {
		width: 100%;
		margin: 0.5em 0;
		padding: 0.2em 0.5em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border: 1px solid $mainBG1;
		border-radius: 0.3em;

		&--first {
			&__checkBox {
				cursor: pointer;
			}
			&__title {
				padding-left: 0.5em;
			}
		}

		&--second {
			display: flex;
			align-items: center;
			/*
			PLEASE TAKE NOTE OF FLEX METHOD
			and try to implement that and less
			display flex
			*/
			&__date {
				padding-right: 0.5em;
			}
			&__icon {
				cursor: pointer;
			}
		}

		&--lineThrough {
			text-decoration: line-through;
		}
	}

	&__addButton {
		font-size: 1.25rem;
		cursor: pointer;

		&--button {
			margin-left: 0.5em;
			border: none;
			background: none;
			font-size: 1.25rem;
			font-weight: 500;
			cursor: pointer;
		}
	}

	&__task {
		&--input {
			width: 100%;
			padding: 0.5em 0.2em;
			border: 1px solid $mainBG1;
			border-radius: 0.3em;
		}

		&--confirm,
		&--cancel {
			margin: 1em 1em 1em 0;
			padding: 0.8em 3em;
			border: 1px solid $mainBG1;
			border-radius: 0.5em;
			font-size: 1rem;
			cursor: pointer;
		}

		&--confirm {
			background-color: #99e2b4;
		}

		&--cancel {
			background-color: #f08080;
		}
	}
}
